body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.right-header-links {
    display: flex;
    gap: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}