
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;  
}

.left-header-links {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.left-header-links img {
    height: 90px;
    width: auto;
    padding-left: 20px;
}

.right-header-links {
    color: #e5e7eb;
    gap: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    
}

.section-one {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 40px;
    color: white;
}

.section-one .left-side {
    margin: 20px;
    max-width: 350px;
    padding-left: 40px;
}

.section-one .header {
    font-weight: bolder;
    font-size: 48px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.section-one .content {
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.section-one img {
    height: 400px;
    width: 0 auto;
    margin-bottom: 40px;
}

.button {
    color: white;
    background-color: #3882f6;
    padding: 8px 30px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    
}

.section-two {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 90px;
}

.section-two .info-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 30px;
}

.section-two .sub-section {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.section-two img {
    height: 300px;
    width: auto;
    gap: 20px;
    padding-bottom: 20px;
    flex: 1;
}

.section-two .text {
    font-weight: bolder;
    font-size: 24px;
    color: #1F2937;
}

.section-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.section-three .head {
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 30px;
}

.section-three .quote {
   font-size: 36px;
   font-weight: lighter;
   font-style: italic; 
   color: #1F2937;
   padding-bottom: 20px;
}

.section-three img {
    height: 400px;
    width: auto;
    padding-bottom: 20px;
}

.section-three .credit {
    width: 700px;
    display: flex;
    justify-content: end;
}

.section-four {
    padding: 60px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-four .border {
    background-color: #3882f6;
    border-radius: 15px;
    padding: 30px 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.section-four .title {
    font-weight: bold;
    padding-bottom: 10px;
}

.section-four .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.section-four .button {
    border: 1px solid white;
}

.footer {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}